
.width-10 {
    width: 10px;
}

.width-25 {
    width: 25px;
}

.width-50 {
    width: 50px;
}

.width-100 {
    width: 100px;
}

.width-150 {
    width: 150px;
}

.width-200 {
    width: 200px;
}

.width-250 {
    width: 250px;
}

.width-300 {
    width: 300px;
}